
 
  
#contact-header{
  font-family: 'Oswald', sans-serif;
  color:white;
  font-weight:100;

}
body{
  background:
  url("./bg/contact-bg.svg");
  background-attachment: fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  font-family: 'Segoe UI Regular' !important;
 }

.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }


   
.navbar{
      background-color:transparent;
   
  }
  
    
  input{

    border-radius:35px;
    text-decoration: capitalize;
   
  }
 
.contact{
  background-color:transparent;
}

.contact-section{
  background-color:transparent;
}

.contact-info{
  background-color:"white";
}
  
  .contact-info i{

  font-size: 30px;
  width: 30px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;

  }
  
    .contact-info i.fa-envelope, .contact-info i.fa-phone, .contact-info i.fa-marker{
  font-size: 25px;
  line-height: 38px;

  }
  
    .contact-info p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
  }
    .contact-info p a{
  color:  #5383d3;
  text-decoration: none;
 
  }
  

  
  
