body{
    background: 
    url("images/events.svg");
    background-attachment: fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    font-family: "Segoe UI", sans-serif;
   }
   

   .event-header{
    height:100vh;
    margin: 0 0;
      position:relative;
      color:white;
      letter-spacing:3px;
   }
   

   .header-section{
       position: absolute;
       bottom:150px;
       transform:translateX(-50%);
       left:50%;
   }

   .event{
       padding:50px;
       background-color: rgba(255, 255, 255, 0.747);
       border-radius: 10px;
       
   }
   
   .backlayer{
       padding-bottom:100px;
   }
   
   
   .event-description{
       line-height:28px;
   }
   

   .section-titlt{
       letter-spacing: 2px;
   }

   .footer{
      background-color: whitesmoke;
   }
   
   

   @media screen and (max-width:800px){
    .event{
        
        background-color: rgba(255, 255, 255, 0.747);
        border-radius: 10px;
        
    }
    
    .backlayer{
    
        margin-top:50px;
        padding:50px 0;
        
     
    }
   }


  
 
