footer{
    background-color: black;
    padding: 15px 15px;
    margin-top: 80px;
    display:flex;
    justify-content: center;

}


.footer-top{
    width:33%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}


footer .footer-left{
    
    width: 50%;
}

footer .footer-right{
    
    width: 50%;

}

footer .footer-icons{
	margin-top: 25px;
}

footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #150325;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}




.footer_top{
    width:50%;
}


footer .footer-right i{
	background-color:  #121213;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

footer .footer-right i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

footer .footer-right p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
footer .footer-right p a{
	color:  #5383d3;
	text-decoration: none;;
}

footer .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

footer .footer_bottom{
    margin-top:15px;
}

@media (max-width: 880px) {

	footer {
		font: bold 14px sans-serif;
	}

	footer  .footer-left,
	footer  .footer-center,
	footer  .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	footer.footer-center i{
		margin-left: 0;
	}

}